@import url("https://fonts.googleapis.com/css2?family=Eater&family=Metal+Mania&family=Parisienne&display=swap");

body {
  background-image: url(https://media.giphy.com/media/128Ygie2wLdH5m/giphy.gif);
  
}

/*------------------------------------------ Heading */
h1 {
  text-align: center;
  letter-spacing: 2px;
  font-size: 120px;
  color: rgb(0, 119, 255);
  text-transform: uppercase;
  font-family: 'Metal Mania', sans-serif;
}

#clockdiv{
    font-family: sans-serif;
    color: #fff;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 30px;
}

#clockdiv > div{
    padding: 10px;
    border-radius: 3px;
    background: #00BF96;
    display: inline-block;
}

#clockdiv div > span{
    padding: 15px;
    border-radius: 3px;
    background: #00816A;
    display: inline-block;
}

.smalltext{
    padding-top: 5px;
    font-size: 16px;
}

/*------------------------------------------ Quetion */


#quiz {
    text-align: center;
  font-size: 40px;
  letter-spacing: 2px;
  color: white;
  padding-top:10%;
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'Metal Mania', sans-serif;
}
.slide{
    position: absolute;
    left: 0px;
    top:0px;
    width: 100%;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.5s;
}
.active-slide{
    opacity: 1;
    z-index: 2;
}
.quiz-container{
    position: relative;
    height: 200px;
    margin-top: 40px;
}
img {
    height: 250px;
    display: block;
  margin-left: auto;
  margin-right: auto;
 padding: 25px;
}

button {
    transition-duration: 0.4s;
}


button:hover {
    background-color: #4CAF50; /* Green */
  color: white;
}

#results{
  font-size: 30px;
  color: white; 
   
}

#results {
    text-align: center;
}



@media screen and (max-width:1200px){
h1 {
font-size: 100px;
text-align: center;
}

img {
    height: 100px;
    display: block;
  margin-left: auto;
  margin-right: auto;
 padding: 25px;
}

}

@media screen and (max-width: 992px){
img {
    height: 100px;
    display: block;
  margin-left: auto;
  margin-right: auto;
 padding: 25px;
}

}

@media screen and (max-width: 600px){
img {
    height: 100px;
    display: block;
  margin-left: auto;
  margin-right: auto;
 padding: 25px;
}


}